.accordion {
    width: 100%;
}

.accordion__item {
    margin-bottom: 15px;
}

.accordion__btn {
    background-color: $dark-grey;
    color: $white;
    font-weight: $bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    transition: all $transition;
    @include hover {
        background-color: $white;
        color: $black;
        .accordion__btn-icon {
            svg path {
                stroke: $black;
            }
        }
    }
}

.accordion__btn--active {
    .accordion__btn-icon {
        svg {
            transform: rotate(180deg);
        }
    }
}

.accordion__btn-icon {
    svg path,
    svg {
        transition: $transition;
    }
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion__text {
    color: $lighter-grey;
    padding: 20px;
}