button,
a {
	font-family: $font-primary;
}

.btn {
	font-weight: $medium;
	color: $white;
	border-radius: 12px;
	padding: 18px 26px;
	font-size: 18px;
	line-height: 160%;
	margin: 4px 6px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: -4px;
		left: 6px;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		z-index: -1;
		background: $gradient;
		transition: all $transition;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		z-index: 1;
		background: $black-secondary;
	}
	@include hover {
		&::after {
			top: 0;
			left: 0;
		}
	}
	@media screen and (max-width: $md) {
		padding: 12px 16px;
	}
}

.btn__text {
	position: relative;
	z-index: 2;
}